<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Employees_DBEntities" connectionString="metadata=res://*/CompanyModel.csdl|res://*/CompanyModel.ssdl|res://*/CompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FBFN8DT\INVISIBLESQL2019;initial catalog=Employees_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Employees_DBEntitiesCus" connectionString="metadata=res://*/Modelcustomer.csdl|res://*/Modelcustomer.ssdl|res://*/Modelcustomer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FBFN8DT\INVISIBLESQL2019;initial catalog=Employees_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Employees_DBEntitiesCu" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FBFN8DT\INVISIBLESQL2019;initial catalog=Employees_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Employees_DBEntitiesCustomer" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FBFN8DT\INVISIBLESQL2019;initial catalog=Employees_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>